* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../images/fondoContact.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 80px;
}

#logo {
    max-width: 120px;
    max-height: 80px;
    margin: 10px;
    margin-bottom: 0%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ab6928;
    text-decoration: none;
}

nav a:hover{
    color: #cc9d03;
}

#logout{
    display: none;
}

#username{
    display: none;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    border-radius: 8px;
    background-color: #cc9d03;
    border: 1px solid black; 
}

html::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #ab6928;
}
  
form{
    padding: 50px 55px;     
    box-shadow: 0 5px 10px rgb(87, 53, 5);
    border-radius: 5px;
    text-align: center;
    width: 100%;
    max-width: 550px;
    background-color: #1e1e1e;
    margin-top: 80px;
    overflow-y: auto;
    max-height: 630px;
    border-radius: 5px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

label{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #000000;
    border: 2px solid #ab6928;
    color: white;
    outline: none;

}

input::placeholder, textarea::placeholder{
    color: rgb(107, 107, 107);
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color: #ab6928;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

form::-webkit-scrollbar{
    width: 10px;
}

form::-webkit-scrollbar-track{
    border-radius: 8px;
    background-color: #cc9d03;
    border: 1px solid black;
}

form::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #ab6928;
}

.btn{
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    background: #ab6928;
    cursor: pointer;
    transition-duration: .3s; 
}

.btn:hover{
    background-color: #cc9d03;
    box-shadow: 10px 10px #ab6928;
    transform: translate(2px, 0);
}

@media(max-width: 991px){
    body{
        padding: 30px;
    }

    form{
        padding: 50px 30px;
        width: 100%;
    }

    input{
        padding: 15px;
    }
}