* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    opacity: 0.98;
    display: flex;
    flex-direction: column;
    background: #1e1e1e;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgb(87, 53, 5);
    border-radius: 5px;
}

form .título {
    color: #fffdfd;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color: #bb6528;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: white;
    border-bottom: solid 1px #cd7f32;
    padding: 0 5px;
    font-size: 18px;
    background-color: #000000;
}

form label input::placeholder {
    color: rgb(107, 107, 107);
}

form .link {
    color:#ffffff;
    margin-bottom: 15px;
}

.toggle span{
    color: #ffffff;
    cursor: pointer;
}

form .boton {
    color: #fff;
    border: none;
    background: #ab6928;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

form .boton:hover {
    background: #cc9d03;
}

.formulario-register {
    display: none;
}

.contenedor-form .formulario:nth-child(1){
    display: block;
}

#logo {
    width: 175px;
    height: 125px;
    margin: 10px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}